body{
display: flex;
align-items: center;
justify-content: center;
color: cyan;
background-color: #000;
}
.App{
margin-top:50%;
font-size: 6rem;
}

@media screen and (max-width:550px) {
 .App{
 font-size: 4rem;
 margin-top: 50%;
  }
}